.container__startGame__score {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #1C1C21;
  opacity: 0.5;
  text-align: center;
}

.main {
  background-color: #fff;
  height: 100vh;
}